@model ESapSociedadFiltro
@{
    EVSapSociedades EV = ViewBag.EV;
}

<form asp-action="_FiltraSapSociedad">
    <div mpanel="Base" xpnl-rules="@EV.SapSociedad.Reglas">
        <div melemento="CapLin">
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilSapSociedadNombre"/>
            </div>
            <div melemento="FilCol" melem-cols="4">
                <select mval-filter="Model" xval-for="FilActivo"></select>
            </div>
            <div melemento="FilColBtn" melem-cols="4">
                <button maccion="Filtra" asp-action="@nameof(SapSociedadesController.SapSociedadFiltra)"></button>
                <button maccion="LimpiaFiltros" asp-action="@nameof(SapSociedadesController.SapSociedadLimpiaFiltros)"></button>
            </div>
        </div>
    </div>
</form>
