@model EProcesoOperativoObjetoFiltro

<form asp-action="_FiltraProcesoOperativoObjeto">
    <div mpanel="Base" xpnl-rules="ViewBag.Reglas">
        <div melemento="CapLin">
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilProcesoOperativoObjetoNombre"/>
            </div>
            <div melemento="FilCol" melem-cols="4">
                <select mval-filter="Model" xval-for="FilActivo"></select>
            </div>
            <div melemento="FilColBtn" melem-cols="4">
                <button maccion="Filtra" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoObjetoFiltra)"></button>
                <button maccion="LimpiaFiltros" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoObjetoLimpiaFiltros)"></button>
            </div>
        </div>
    </div>
</form>
