@model ESapGrupoTesoreriaFiltro

<form asp-action="_FiltraSapGrupoTesoreria">
    <div mpanel="Base" xpnl-rules="ViewBag.Reglas">
        <div melemento="CapLin">
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilSapGrupoTesoreriaNombre"/>
            </div>
            <div melemento="FilCol" melem-cols="4">
                <select mval-filter="Model" xval-for="FilActivo"></select>
            </div>
            <div melemento="FilColBtn" melem-cols="4">
                <button maccion="Filtra" asp-action="@nameof(SapGruposTesoreriaController.SapGrupoTesoreriaFiltra)"></button>
                <button maccion="LimpiaFiltros" asp-action="@nameof(SapGruposTesoreriaController.SapGrupoTesoreriaLimpiaFiltros)"></button>
            </div>
        </div>
    </div>
</form>
