@model ESapTratamientoFiltro
@{
    EVSapTratamientos EV = ViewBag.EV;
}

<form asp-action="_FiltraSapTratamiento">
    <div mpanel="Base" xpnl-rules="@EV.SapTratamiento.Reglas">
        <div melemento="CapLin">
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilSapTratamientoNombre"/>
            </div>
            <div melemento="FilCol" melem-cols="4">
                <select mval-filter="Model" xval-for="FilActivo"></select>
            </div>
            <div melemento="FilColBtn" melem-cols="4">
                <button maccion="Filtra" asp-action="@nameof(SapTratamientosController.SapTratamientoFiltra)"></button>
                <button maccion="LimpiaFiltros" asp-action="@nameof(SapTratamientosController.SapTratamientoLimpiaFiltros)"></button>
            </div>
        </div>
    </div>
</form>
