@model EConExpedienteObjetoFiltro
@{
    EVConExpedientes EV = ViewBag.EV;
}

<form asp-action="_FiltraConExpedienteObjeto">
    <div mpanel="Base" xpnl-rules="@EV.ConExpedienteObjeto.Reglas">
        <div melemento="CapLin">
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilArchivoNombre"/>
            </div>
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilProcesoOperativoObjetoNombre"/>
            </div>
            <div melemento="FilColBtn" melem-cols="4">
                <button maccion="Filtra" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoFiltra)"></button>
                <button maccion="LimpiaFiltros" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoLimpiaFiltros)"></button>
            </div>
        </div>
    </div>
</form>
