@model ESapGrupoToleranciaFiltro
@{
    EVSapGruposTolerancia EV = ViewBag.EV;
}

<form asp-action="_FiltraSapGrupoTolerancia">
    <div mpanel="Base" xpnl-rules="@EV.SapGrupoTolerancia.Reglas">
        <div melemento="CapLin">
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilSapGrupoToleranciaNombre"/>
            </div>
            <div melemento="FilCol" melem-cols="4">
                <select mval-filter="Model" xval-for="FilActivo"></select>
            </div>
            <div melemento="FilColBtn" melem-cols="4">
                <button maccion="Filtra" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaFiltra)"></button>
                <button maccion="LimpiaFiltros" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaLimpiaFiltros)"></button>
            </div>
        </div>
    </div>
</form>
