@using Rediin2022.Entidades.PriClientes

@model EProveedorMedix

<div xpanel="Edit" xpnl-rules="@ViewBag.Reglas">
    <div style="margin-top:20px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 alinearCentro">
                        <b>Acta Constitutiva</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="NotarioNombre" xval-show-message="false" placeholder="NomNotario" />
                                <label xlabel="NotarioNombre" xlbl-value="Nombre del notario" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="NumeroEscritura" xval-show-message="false" placeholder="NumEsc" />
                                <label xlabel="NumeroEscritura" xlbl-value="No. escritura" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="FechaEscritura" xval-show-message="false" placeholder="FechaEsc" />
                                <label xlabel="FechaEscritura" xlbl-value="Fecha escritura" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="RepresentanteLegal" xval-show-message="false" placeholder="RepreLeg" />
                                <label xlabel="RepresentanteLegal" xlbl-value="Representante legal" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <div class="form-floating mb-4 mt-4">
                                <select class="form-select" xval="Model" xval-for="IdentificacionId" xval-show-message="false" xval-items="@ViewBag.Identificaciones" xval-first-item="Selecciona">
                                </select>
                                <label xlabel="IdentificacionId" xlbl-value="Identificación" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="NumIdentificacion" xval-show-message="false" placeholder="NumIden" />
                                <label xlabel="NumIdentificacion" xlbl-value="No. de identificación" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 alinearCentro">
                        <b>Poder Notarial</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="PoderNotarialNotarioNombre" xval-show-message="false" placeholder="NomNotario" />
                                <label xlabel="PoderNotarialNotarioNombre" xlbl-value="Nombre del notario" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="PoderNotarialNumEscritura" xval-show-message="false" placeholder="NumEsc" />
                                <label xlabel="PoderNotarialNumEscritura" xlbl-value="No. escritura" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="PoderNotarialFechaEscritura" xval-show-message="false" placeholder="FechaEsc" />
                                <label xlabel="PoderNotarialFechaEscritura" xlbl-value="Fecha escritura" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3"> 
                                <input class="InputLinea form-control" xval="Model" xval-for="PoderNotarialRepresentanteLegal" xval-show-message="false" placeholder="RepreLeg" />
                                <label xlabel="PoderNotarialRepresentanteLegal" xlbl-value="Representante legal" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <div class="form-floating mb-4 mt-4">
                                <select class="form-select" xval="Model" xval-for="PoderNotarialIdentificacionId" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Identificaciones">
                                </select>
                                <label xlabel="PoderNotarialIdentificacionId" xlbl-value="Identificación" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inputTamanio">
                            <div class="form-floating mb-3 mt-3">
                                <input class="InputLinea form-control" xval="Model" xval-for="PoderNotarialNumIdentificacion" xval-show-message="false" placeholder="NumIden" />
                                <label xlabel="PoderNotarialNumIdentificacion" xlbl-value="No. de identificación" xlbl-req-show="true"></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>