@using Rediin2022.Entidades.PriClientes

@model EProveedorMedix

<div xpanel="Edit" xpnl-rules="@ViewBag.Reglas">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="VendedorNombre" xval-show-message="false" placeholder="Nombre" />
                            <label xlabel="VendedorNombre" xlbl-value="Nombre del vendedor" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Telefono" xval-show-message="false" placeholder="Telefono" />
                            <label xlabel="Telefono" xlbl-value="Telefono" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Celular" xval-show-message="false" placeholder="Celular" />
                            <label xlabel="Celular" xlbl-value="Celular" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="CorreoElectronico1" xval-show-message="false" placeholder="Correo1" />
                            <label xlabel="CorreoElectronico1" xlbl-value="Correo Electronico 1" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="CorreoElectronico2" xval-show-message="false" placeholder="Correo2" />
                            <label xlabel="CorreoElectronico2" xlbl-value="Correo Electronico 2" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="CorreoElectronico3" xval-show-message="false" placeholder="Correo3" />
                            <label xlabel="CorreoElectronico3" xlbl-value="Correo Electronico 3" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>