/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
}

.panelPrincipal {
}

.menu {
}

.menuOpciones {
}

    .menuOpciones :hover {
    }

.menuOpcionesPnl {
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Controles en general */
input[type="checkbox"] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.tituloSistema {
    font-size: 13px;
    font-weight: bold;
    color: blue;
}
/* Paginador */
.paginadorPanel {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
    text-align: right;
    /* border: 1px solid #ffffff; */
}

.paginadorBoton {
    background-color: white;
    color: #9a9a9a;
    border: 2px solid white;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

    .paginadorBoton:hover {
        color: black;
        background-color: #fcf8e3;
        border-top: 2px solid #9fb5dd;
        border-left: 2px solid #9fb5dd;
        border-bottom: 2px solid #446bb4;
        border-right: 2px solid #446bb4;
    }

    .paginadorBoton[disabled="disabled"] {
        background-color: #ffffff;
    }

.paginadorInput {
    border: 1px solid #5cb85c;
    max-width: 40px;
    text-align: right;
}

.paginadorTexto {
    color: #9a9a9a;
    text-align: right;
}

.paginadorSeccion {
    text-align: right;
}
/* Panel consulta */
.panelConsulta {
    margin-left: -15px;
    margin-right: -10px;
}

.panelConTitulo {
    font-weight: bold;
    padding-left: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.panelConFiltro {
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px
}

.panelConPaginador {
    margin-right: 0px;
    text-align: right;
}

.panelSelCols {
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 0px;
}

.panelConDatos {
    margin-bottom: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #ffffff;
}

.panelConAccionesXReg {
    margin-top: 10px;
    min-width: 130px;
}

.panelConTotales {
    background-color: #e9e9e9;
    text-align: right;
    padding: 5px;
    margin-right: 15px;
}

.lineaConTotales {
    font-weight: bold;
}

.panelConAccionesGen {
    text-align: center;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.panelConMensajes {
    background-color: #f8f8f8;
}

.panelConMensajesTit {
    text-align: center;
    font-size: 12pt;
    color: #9a9a9a;
    font-weight: bold;
}

.panelConMensajesOk {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: green;
}

.panelConMensajesError {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: red;
}

.panelConMensajesAdvertencia {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: orange;
}

.panelConMensajesNormal {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: blue;
}

.panelConMensajesCont {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: red;
}

/* Panel captura */
.panelCaptura {
}

.panelCapTitulo {
    padding-top: 1px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #e9ece8;
    border-right: 1px solid #e9ece8;
}

.panelCapDatos {
    padding: 10px;
    border-left: 1px solid #e9ece8;
    border-right: 1px solid #e9ece8;
}

.panelCapAccionesGen {
    padding: 10px;
    text-align: center;
    border-left: 1px solid #e9ece8;
    border-right: 1px solid #e9ece8;
}

.panelCapDatosAudit {
    padding: 10px;
    text-align: left;
}

.panelCapMensajes {
    background-color: #f8f8f8;
}

.panelCapMensajesTit {
    text-align: center;
    font-size: 12pt;
    color: #9a9a9a;
    font-weight: bold;
}

.panelCapMensajesOk {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: green;
}

.panelCapMensajesError {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: red;
}

.panelCapMensajesAdvertencia {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: orange;
}

.panelCapMensajesNormal {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: blue;
}

.panelCapMensajesCont {
    font-family: Arial;
    font-size: 12pt;
    margin-left: 20px;
    color: red;
}
/* Datos para Consulta */
.conTabla {
    text-align: center;
    border-spacing: 0;
    width: 100%;
}

    .conTabla > thead > tr > th,
    .conTabla > tbody > tr > th,
    .conTabla > tfoot > tr > th,
    .conTabla > thead > tr > td,
    .conTabla > tbody > tr > td,
    .conTabla > tfoot > tr > td {
        padding: 6px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .conTabla > caption + thead > tr:first-child > th,
    .conTabla > colgroup + thead > tr:first-child > th,
    .conTabla > thead:first-child > tr:first-child > th,
    .conTabla > caption + thead > tr:first-child > td,
    .conTabla > colgroup + thead > tr:first-child > td,
    .conTabla > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

.conTablaEnc {
}

.conTabla > tbody > tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

.conTabla > tbody > tr:nth-of-type(even) {
    background-color: #fafafa;
}

.conTabla > tbody > tr:hover {
    background-color: #eee8e5;
}

.conTablaLinSel {
    font-weight: bold;
}

/* Datos para Captura y Filtro */
.capLin {
}

.capLinSubEnc {
    background-color: #b9cbb4;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 0px;
    margin-right: -5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.capCol {
}

.filCol {
}

.filColBtn {
    margin-top: 18px;
}
/* Calendario */
.calendario {
    background-color: #daa666;
    border: 1px solid #ae824b;
    font-family: Arial;
}

    .calendario .ajax__calendar_container {
        font-size: 11pt;
        text-transform: capitalize;
        width: 200px;
    }

    .calendario .ajax__calendar_body {
        width: 100%;
    }

    .calendario .ajax__calendar_active .ajax__calendar_day {
        background-color: #00a12d;
        font-weight: bold;
        color: white;
    }

    .calendario .ajax__calendar_hover .ajax__calendar_day {
        background-color: #79d279;
        font-weight: bold;
    }

    .calendario .ajax__calendar_dayname {
        margin: 3px;
        font-weight: bold;
    }

    .calendario .ajax__calendar_other .ajax__calendar_day {
        color: #7f7f7f;
    }

    .calendario td {
    }

    .calendario .ajax__calendar_body td {
        border: solid 1px #daa666;
        background-color: #f4ebdc;
        font-size: 10pt;
        font-family: Arial;
    }

    .calendario td:nth-child(7) {
        background-color: #bee8ab;
    }

/* Tabulador */
.tabulador {
}

.tabx {
}

.tabActivo {
}

.tabInactivo {
}

/* Varios */
.btnOpciones {
    cursor: pointer;
}

.btnCalendario {
    cursor: pointer;
}

.panelFilRango {
    border: 1px solid #c1c1c1;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.lockDatos {
    font-family: Arial;
    font-weight: bold;
    font-size: 20pt;
    color: #8d8d8d;
    padding: 15px;
    background-color: white;
    border: solid 2px #9fb5dd;
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
/* Ojo no debemos tener una clase que se llame modal */
.modalDatos {
    text-align: left;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.tblImg {
    max-height: 75px;
    height: 75px;
}

.capImg {
    max-height: 200px;
    height: 200px
}

@media only screen and (max-width: 500px) {
    .tblImg {
        max-height: 45px;
        height: 45px;
    }

    .capImg {
        max-height: 150px;
        height: 150px
    }
}

.tblImgMod {
    border: 3px double #6f6e6b;
    background-color: #bebbad;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#bebbad', endColorstr='#fcf8e3', gradientType='0');
    background: -o-linear-gradient(top, #bebbad, #fcf8e3);
    background: -moz-linear-gradient(top, #bebbad, #fcf8e3);
    background: -webkit-gradient(linear, left top, left bottom, from(#bebbad), to(#fcf8e3));
}

.tblImgInt {
    max-width: 100%;
    max-height: 100%;
}

.tblEnc {
}

.tblCelda {
}

.toolTipEnc {
    border: 1px solid rgb(134, 93, 34);
    font-family: Arial;
    background-color: rgb(240, 173, 78);
    padding: 3px;
    text-align: center;
}

    .toolTipEnc div {
        width: 100%;
        font-size: 15px;
        border-bottom: 2px solid Black;
        color: black;
    }

    .toolTipEnc table {
        text-align: left;
        color: black;
    }

    .toolTipEnc tr {
        background-color: rgb(216, 235, 240);
    }

        .toolTipEnc tr:nth-child(odd) {
            background-color: rgb(216, 235, 240);
        }

        .toolTipEnc tr:nth-child(even) {
            background-color: rgb(252, 242, 227);
        }

    .toolTipEnc th {
        font-weight: bold;
        padding: 2px;
    }

    .toolTipEnc td {
        font-weight: normal;
        padding: 2px;
    }

/* Menu */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/* Para que funcione el dont-collapse-sm */
@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

.menuAcciones {
    position: absolute;
    z-index: 254;
}

/* Botones */
.btnAccionXRegRiesgoList {
    color: red;
}

.btnAccionGen {
}

.btnAccionGenRiesgo {
}

.btnAccionXReg {
}

.btnAccionXRegRiesgo {
}

.btnAccionFiltro {
}

.btnAccionInfo {
}

.btnAccionInfoXReg {
}

.btnAccionRegresa {
}

.btnSelCol {
}

.btnSelColSel {
}
/* Otros */
.estiloInput {
}

.estiloInputOpc {
    background-color: #eefaea;
}

.estiloInputDeshabilitado {
    background-color: #f1eeee;
}

.inputBool {
}

.estiloSelect {
}

.estiloSelectOpc {
    background-color: #eefaea;
}

.estiloSelectDeshabilitado {
}

.estiloInputFiltro {
}

.estiloSelectFiltro {
}

.arbolNodoSel {
}

.eliminaBoton {
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.pantallaBloqueo {
}


.DSLin {
    border: 4px solid White;
}

.DSCol {
    min-height: 180px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
}

    .DSCol:hover {
        font-weight: bold;
        font-size: 18pt;
    }

.DSColSel {
    min-height: 180px;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
    font-weight: bold;
    font-size: 14pt;
}

.DSCheck {
    width: 30px;
}



.DSCol2 {
    min-height: 180px;
    max-height: 180px;
    text-align: center;
}

    .DSCol2:hover {
        font-weight: bold;
        font-size: 18pt;
    }

.DSColSel2 {
    min-height: 180px;
    max-height: 180px;
    text-align: center;
}

.DSImg2 {
    width: 80%;
    max-height: 140px;
}
