@model ESapCuentaAsociadaFiltro

<form asp-action="_FiltraSapCuentaAsociada">
    <div mpanel="Base" xpnl-rules="ViewBag.Reglas">
        <div melemento="CapLin">
            <div melemento="FilCol" melem-cols="4">
                <input mval-filter="Model" xval-for="FilSapCuentaAsociadaNombre"/>
            </div>
            <div melemento="FilCol" melem-cols="4">
                <select mval-filter="Model" xval-for="FilActivo"></select>
            </div>
            <div melemento="FilColBtn" melem-cols="4">
                <button maccion="Filtra" asp-action="@nameof(SapCuentasAsociadasController.SapCuentaAsociadaFiltra)"></button>
                <button maccion="LimpiaFiltros" asp-action="@nameof(SapCuentasAsociadasController.SapCuentaAsociadaLimpiaFiltros)"></button>
            </div>
        </div>
    </div>
</form>
