@model EConExpedienteFiltro

<form asp-action="_FiltraConExpediente">
	<div mpanel="Base" xpnl-rules="ViewBag.Reglas">
		<div melemento="CapLin">
			<div melemento="FilCol" melem-cols="3">
				<input mval-filter="Model" xval-for="FilBusquedaTexto" />
			</div>
			<div melemento="FilCol" melem-cols="3">
				<input mval-filter="Model" xval-for="FilExpedienteId" />
			</div>
			<div melemento="FilCol" melem-cols="3">
				@if ((Boolean)ViewBag.ControlEstatus)
				{
					<select mval-filter="Model" xval-for="FilProcesoOperativoEstId" xval-items="ViewBag.ProcesosOperativosEst"></select>
				}
			</div>
			<div melemento="FilColBtn" melem-cols="3">
				<button maccion="Filtra" asp-action="@nameof(ConExpedientesController.ConExpedienteFiltra)"></button>
				<button maccion="LimpiaFiltros" asp-action="@nameof(ConExpedientesController.ConExpedienteLimpiaFiltros)"></button>
				<div style="height:10px"></div>
				<div>
					<a maccion="General" asp-action="@nameof(ConExpedientesController.ConExpedientePaginacionAntPag)">Anterior</a>
					<a maccion="General" asp-action="@nameof(ConExpedientesController.ConExpedientePaginacionSigPag)">Siguiente</a>
				</div>
			</div>
		</div>
	</div>
</form>
